* {
    box-sizing: border-box;
}

body {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppings", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile__container {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav__container {
    background-color: rgb(243, 225, 255);
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav__places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav__places li {
    margin: 5px;
    width: 75px;

}

.fav__places li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331A;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav__places li span {
    font-size: 0.8rem;
}

.places {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.place {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331A;
    margin: 1.5rem;
    overflow: hidden;
    width: 250px;
}

.place__header {
    position: relative;
}

.place__header .township__name {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.place__header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.place__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.place__body h4 {
    margin: 0;
}

.place__body .fav__btn {
    border: none;
    background-color: transparent;
    color: rgb(197, 188, 188);
    font-size: 1.2rem;
}

.place__body .fav__btn.active {
    color: tomato;
}